<div class = 'prepend-6 span-12'>      
<h3>帐户设定</h3>
<%= form_for :user,:html => {:class => 'prepend-2'} do |f| %> 
  <p>
    <%= f.label "用户名" %> <br />
    <%= f.text_field :login %>
  </p>
  
  <p>
    <%=f.label :email %> <%= @user.email || ('<br />' + f.text_field(:email)) %>
  </p>

  <% unless @user.oauth_user? %>
    <p>
      <%= f.label :current_password, '当前密码' %><br /> 
      <%= password_field_tag :current_password %>
    </p>
    <p>
      <%= f.label "新密码" %><br /> 
      <%= f.text_field :password, :size => 20 %>
    </p>
    <p>
      <%= f.label "新密码确认" %><br /> 
      <%= f.text_field :password_confirmation, :size => 20 %>
    </p>
  <% end %>
  
  <div class='prepend-top'>
    <%= submit_tag '保存',:class=> 'submit' %>
  </div>      
<% end %>
</div>
