<h2><%= current_user.name %>的帐户</h2>

<p>帐户余额： <%= number_to_currency(current_user.balance) %></p>

<h3>我的出价记录</h3>

<table>
  <tr>
    <th>拍品</th>
    <th>出价</th>
    <th>时间</th>
  </tr>

<% @bids.each do |bid| %>
  <tr>
    <td><%=h bid.product.title %></td>
    <td><%=h number_to_currency(bid.price) %></td>
    <td><%=h l(bid.created_at) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @bids %>

<br />

<%= link_to '新奖品', new_admin_product_path %>