<div style='clear:both;'>
  
</div> 

<div id='footer'>
    <hr /> 
    <a href="/about"><%= t(:about) %></a> | 
    <a href="/contact"><%= t(:contact) %></a> |
    <a href="/agreement"><%= t(:agreement) %></a> |
    <a href="http://blog.<%= request.domain %>"><%= t(:blog) %></a>
    <br />
    <span>
      <%=raw t(:copy) %>
      <%=raw t(:sandsroad) %> 
      沪ICP备10010832号 
    </span>   
    <div style='text-align:center;'>
      <%= link_to 'English', lang_path(:locale => 'en'), :method => 'put' %> |
      <%= link_to '简体', lang_path(:locale => 'zh-CN'), :method => 'put' %> | 
      <%= link_to '繁体', lang_path(:locale => 'zh-TW'), :method => 'put' %> 
    </div>
</div>                                                                         



<script type="text/javascript" charset="utf-8">
  var uservoiceOptions = {
    /* required */
    key: '51qiangda',
    host: '51qiangda.uservoice.com', 
    forum: '75933',
    showTab: true,
    /* optional */
    alignment: 'left',
    background_color:'#f00', 
    text_color: 'white',
    hover_color: '#06C',
    lang: 'cn',
    no_dialog: true
  };

  function _loadUserVoice() {
    var s = document.createElement('script');
    s.setAttribute('type', 'text/javascript');
    s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
