<div style='clear:both;'></div>
<div id='footer'>
    <a href="/intro"><%= t(:introduction) %></a> |
    <a href="/about"><%= t(:about) %></a> | 
    <a href="http://www.51qiangda.com/forms/4c15cee7b3e57c07fa00000f"><%= t(:contact) %></a> |
    <a href="http://www.51qiangda.com/forms/4c0608cab3e57c5758000001"><%= t(:feedback) %></a> |
    <a href="/services"><%= t(:services) %></a>
    <br /> <br />
    <span>
      <%=raw t(:copy) %>
      <%=raw t(:sandsroad) %>
    </span>
</div>
  <!-- <a href="/intro">介绍</a> |
  <a href="/about">关于我们</a> | 
  <a href="http://www.51qiangda.com/forms/4c15cee7b3e57c07fa00000f">联系我们</a> |
  <a href="http://www.51qiangda.com/forms/4c0608cab3e57c5758000001">意见/建议</a> |
  <a href="http://www.51qiangzuo.com">抢座网</a> |
  <a href="/contact">集成服务</a>
  <br />
  <span>
  &copy; 抢答网 2010 
  <a href="http://www.miibeian.gov.cn/">沪ICP备10010832号</a>
   <a href="http://www.sandsroad.com">上海沙路网络</a>旗下产品
  </span>
</div> -->

