<div class='header'>
  <div class="logo">
    <%=link_to image_tag('logo.png'),'/'%>
  </div>
  
  <div class='login'>    
    <% if logged_in? %>
      <%=link_to '首页',root_path %>  
      <%=link_to('我的问卷', forms_path)%>
      <%=link_to('更多介绍', '/intro' )%>
      <%=link_to '帐号设置',account_path %>
      <%= link_to '注销', logout_path %>
    <% else %>
      
      <%= link_to '注册新用户', signup_path %>
      已经注册了？<a href='/login' class='signin'><span>立即登录</span></a>
         <div id="signin_menu">
            <%= form_tag session_path,:class => 'login_form' do %>  
            <p>
              <label for="username">Email</label>
              <%= text_field_tag 'email', @email %>
              </p>
              <p><%= label_tag 'password', '密码' %>
              <%= password_field_tag 'password', nil %> 
              <p><%= submit_tag '登录',:class => 'submit' %> <%=link_to '找回密码',forget_password_path%></p> 
              <h4>使用第三方帐号登录</h4>
              <ul>
                <li><a href="/oauth/login/google" class='google' >Google</a></li> 
                <li><a href="/oauth/login/douban" class='douban' >豆瓣网</a></li>
              </ul>        
              <div style='clear:both'></div>
            <% end %>
        </div>  
    <% end %>  
    <%= render :partial => '/shared/notice' %>
  </div>  
</div>       
<% if false %>
<div class='nav'> 
  <ul>                             
    <%=topnav_tab('首页',:url => root_path,:section => 'home' )%>
    <%=topnav_tab('我的问卷',:url => forms_path,:section => 'forms' )%>  
    <%=topnav_tab('更多介绍',:url => '/intro',:section => 'intro' )%>
    <%=topnav_tab('反馈',:url => new_feedbacks_path,:section => 'feedback',:class => 'last' )%>
  </ul>
</div>    
<% end %>