<link rel="shortcut icon" href="/favicon.ico" />
<meta name="description" content="<%= @form.nil? ?  "ThunderSurvey is the simplest free online survey solution, if you perfer to clean and simple survey design, then thundersurvey should be your first choice." : @form.description %>" />
<meta name='viewport' content='width=device-width' />
<meta charset="utf-8" />
<meta name="csrf-token" content="<%= form_authenticity_token %>" />
<meta name="csrf-param" content="authenticity_token" />
<!--[if IE]>
 <script src="/javascripts/html5.js"></script>
<![endif]-->     
<%= stylesheet_link_tag 'framework/reset','framework/general','framework/grid','fancybox', :cache => 'app.framework.cache'  %>  
<%= stylesheet_link_tag "style",'common',"jquery-ui", 'slider','formtastic', :cache => 'app.cache'  %>
<%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'rails', "fancybox/jquery.fancybox-1.3.1.pack",'application', :cache => 'app.cache' %>              


             
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){     
    $('.button').button();
   })    
</script>

<%= yield :headers %>                                                   
<title>Thunder Survey－<%= @form.nil? ? (@page_title||'Free online survey solution.') : @form.title %></title>