<div class='header'>
  <div class="logo">
    <%=link_to image_tag('logo.png'),'/'%>
  </div>         
  <div class='login'>
    <% if logged_in? %>	
      你好 <%=current_user.login %> <%= link_to '注销', logout_path, :method => 'delete' %>
    <% else %>
      <%= link_to '立即登录', login_path %> |
      还没有帐号？ <%= link_to '现在就注册', signup_path %>
    <% end %>
  </div>  
  <div id="saving" style="display:none;">正在保存...</div> 
  <%= render :partial => '/shared/notice' %>
</div>    
<div class='nav'> 
  <ul>                             
    <%=topnav_tab('首页',:url => root_path,:section => 'home' )%>
    <%=topnav_tab('我的问卷',:url => forms_path,:section => 'forms' )%>  
    <%=topnav_tab('更多介绍',:url => '/intro',:section => 'intro' )%>
    <%=topnav_tab('反馈',:url => new_feedbacks_path,:section => 'feedback',:class => 'last' )%>
  </ul>
</div>