<div class='intro'>
  <div class='guide span-6'>
    <div class='words'>
       <h1>最简洁的问卷调查工具</h1>
      <p>抢答网让您可以轻松创建在线调查问卷.简洁干净的问卷页面,让用户爱上问答!</p>
      <p><a href='/demo'><%= image_tag(image_path('demo.gif'), :title => '免费注册') %></a></p>
      <p>已经有帐号了？<%= link_to "立即登录", login_path %></p>
    </div>
  </div>

  <div class='span-2 last'>
    <%=image_tag 'form.jpg',:class=>'haibao'%>
  </div>
</div> 
<div class='span-12'>
<h3>谁在使我们</h3>
<div id='logos'>
  <%=image_tag('icons/bloggerinsight.jpg')%>  <%=image_tag('icons/dx_logo.jpg')%>  <%=image_tag('icons/xx_logo.gif')%><%=image_tag('icons/mm.jpg')%>  
</div>

</div> 

<div class='span-12 last'>
<h3>推荐问卷</h3>
<div id='recommanded_forms'>
  <ul>  
    <% @recommanded_forms.each do |form| %>
    <li><%=link_to form.title,form,:target => '_blank' %></li>                                   
    <% end %>         
    </ul>
</div>

</div>

