<% content_for :headers do %>
  <style type="text/css" media="screen">
    .btn span{
      font-size:12px;
    }
  </style>
<% end %>
<div class='intro span-24 last'>
  <div class='guide span-12'>
    <div class='words span-7'>
       <h1>最简洁的问卷调查工具</h1>
      <p>抢答网让您可以轻松创建在线调查问卷.简洁干净的问卷页面,让用户爱上问答!</p>
      <p><a href='/demo' class='btn'>试用一下<span>(无需注册)</span></a></p>
      <p>已经有帐号了？<%= link_to "立即登录", login_path %></p>
    </div>
  </div>

  <div class='span-10 last'>
    <%=image_tag 'form.jpg',:class=>'haibao'%>
  </div>
</div> 
<div class='span-13'>
<h3>谁在使用抢答？</h3>
<div id='logos'>
  <a href="http://www.bloggerinsight.com"><%=image_tag('icons/bloggerinsight.jpg')%></a>
  <a href="http://www.dongxi.net"><%=image_tag('icons/dx_logo.jpg')%></a>
  <a href="http://www.lunsha.com/"><%=image_tag('icons/xx_logo.gif')%></a>
  <a href="http://www.mmclock.cn"><%=image_tag('icons/mm.jpg')%></a>
</div>

</div> 

<div class='span-11 last'>
<h3>特色问卷</h3>
<div id='recommanded_forms'>
  <ul>  
    <% @recommanded_forms.each do |form| %>
    <li><%=link_to form.title,form,:target => '_blank' %></li>                                   
    <% end %>         
    </ul>
</div>

</div>

