<% content_for :headers do %>
  <%= stylesheet_link_tag 'page' %>  
<% end %>                            

<%= content_for :pagenav do -%>  
<% if params[:preview]%>  
<div id="preview">
  <%=link_to '<< 返回编辑',edit_admin_page_path(@page),:class => 'ag'%>     
</div>                  
<% end %>
<div id="page_nav">
   <span><%=@page.title%></span> 
</div>
<% end %>

<div id='page'>
  <%= raw(@page.body) %>    
</div>
