<% content_for :headers do %>
  <%= stylesheet_link_tag 'page' %>  
<% end %>                            

<div id='page'>
  <%= raw(@page.body) %>    
</div>

<% content_for :sidebar do %> 
  <h3><%=@page.title%></h3>
  <ul class='sidebar_nav'>          
    <% Page.all.each do |page| %>
    <li class="<%=auto_highlight(@page.title,page.title)%>"><%=link_to page.title,"/#{page.slug}"%></li>         
    <% end %>
  </ul>
<% end %>
