<h2>你好 <%=@form.user.login %>:</h2>     
<p>你在抢答网的问卷'<%=@form.title%>'收到一个新反馈.</p>
<% content_for :event do %>
<tr>
  <td colspan='2' style="font-size:12px;padding:10px;background:#EFEFEF;line-height:20px;text-align:left; color:#333;">
    <p>
      <% @form.fields.each do |field| %>
        <%= field.name %>： <%=@row.send("f#{field.id}") %><br />
      <% end %>
    </p> 
  </td>
</tr>    
  <tr>
	  <td colspan='2' style="font-size:12px; line-height:20px;text-align:left; color:#666;"> 
	    <p>马上进入<%=link_to '控制面板',forms_url,:style => 'color:#0099FF;font-size:12px;margin:0 5px;'%>查看此报名详情或管理报名信息。</p>
	  </td>
	</tr>
<% end -%>