<style type="text/css" media="screen">
  input[type='text']{
    width:200px;
  }            
  form.formtastic li label{ float:left;width:6em;font-size:12px;color:#514c48;text-align:right; margin-right:2em;}     
  h3{
    border-bottom:1px solid #ccc; 
    font-size:18px;
    color:#666;
  }
</style>                

<%= semantic_form_for @feedback, :url => feedbacks_path,:html => {:class => 'prepend-4'} do |f| -%>   
<p style='color:red;'><%= @feedback.errors.full_messages %>  </p>
  <p>
    <%= f.label :content, "意见/建议" %><br />
    <%= f.text_area :content, :rows => 8, :cols => 35 %>
  </p>

  <p>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :name, "姓名" %><br />
    <%= f.text_field :name %>
  </p>

  <div class='prepend-4'>
      <%= f.submit '提交',:class => 'submit'%>     
  </div>
<% end -%>