<div class='section'>
  <div class='box'>
  <h3>问卷统计</h3>
  共有<%=Form.count%>个问卷
  </div>
  <div class='box'>
  <h3>用户统计</h3> 
  共有<%=User.count%>个用户 
  </div>
  <div style='clear:both;'>
    
  </div>
</div>
<div class='section' >
<h3>最新10个表单</h3>      
<table cellspacing="0" cellpadding="0" class='grid'>  
  <col width='60%' />
  <col width='5%' />
  <col width='12%'/> 
  <col width='13%'/>
  <col width='10%' />
  <thead>   
    <tr>    
      <th>标题</th>
      <th>回应</th>
      <th>最后更新</th>
      <th>用户名</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>  
    <% @recent_forms.each do |form| -%>
      <tr>
        <td class='text-left'><%=link_to form.title, form_path(form), :target => '_blank' %><br /><span class='gray'><%= form.description %></span></td>  
        <td><%= form.klass.count %></td>
        <td> <%= form.updated_at.strftime("%m/%d %H:%M") %></td>
        <td><%=link_to truncate(form.user.login,:length => 10),admin_user_path(form.user) %></td>            
        <td><%=link_to('删除',admin_form_path(form), :method => :delete) %></td>   
      </tr>
    <% end -%>                                              
  </tbody>
  </table>
</div>   
<div class='section' >
<h3>最新10个用户</h3>
<table cellspacing="0" cellpadding="0" class='grid'>
<thead>
  <tr>
    <th>login</th>  
    <th>Email</th>
    <th>时间</th>
    <th>操作</th>
  </tr>
</thead>
<tbody> 
  <% @recent_users.each do |user| -%>  
  <tr>            
    <td><%=link_to user.login,admin_user_path(user) %></td>
    <td><%=user.email%></td>  
    <td><%=user.created_at %></td>
    <td><%=link_to '删除',admin_user_path(user),:method => :delete,:confirm => '确定嘛?' %></td>
  </tr>
  <% end -%> 
</tbody>
</table>
</div>