<% if field.multi? %>
<div class='span-16 prepend-top last'>
  <h4 style="text-align:left"><%= field.name %></h4>   
  <section class="span-10">     
    <% data = field.options.map {|o| @form.klass.count({"f#{field.id}" => Regexp.new('(\s|^)' + o.value + '(\s|$)')})} %>       
    <% if field.options.length >= 5 %>
    <img src="<%= Gchart.bar(:data => data,:axis_with_labels => 'y,x',:axis_labels => [field.options.map{|f| truncate(f.value,:length => 14)},[0,data.max]],:orientation => 'horizontal',:bar_colors => random_color) %>" />
    <% else %>
    <img src="<%= Gchart.pie(
                  :data => data, :labels => field.options.map(&:value),:bar_colors => random_color ) %>" />                                                                                              
   <% end %> 
  </section> 
  
  
  <section class="span-6 last">              
    <table class='grid' id='huizong' cellspacing="0" cellpadding="0"> 
      <col width='40%'>
      <col width='20%'>
      <col width='40%'>
      <thead>
        <tr>
          <th>选项</th>
          <th>数量</th> 
        </tr>                     
      </thead>
      <tbody>
        <% field.options.each do |option| %>
        <% option_count = @form.klass.count({"f#{field.id}" => Regexp.new('(\s|^)' + option.value + '(\s|$)')}) %>      
        <% percentage = option_count * 100 / @form.rows_count %>    
        <tr>
          <td><%= option.value %></td>                          
          <td><%= option_count %></td>
          <% if false %>
          <td style="text-align:left;">
            <span class="percentage" style="width:<%= percentage*2 %>px;">&nbsp;</span>
            <%= percentage %>%
          </td>       
          <% end %>
        </tr>
        <% end %>  
      <tbody>
    </table>
  </section>
</div> 
<div style="clear:both"></div>
<% end %>