<% content_for :headers do -%>   
  <%= stylesheet_link_tag 'button' %>
  <%= javascript_include_tag 'form' %>
  <%= javascript_include_tag 'field' %>
  <%= javascript_include_tag 'jquery.scrollTo' %>
  <script type="text/javascript" charset="utf-8">
    var field_count = <%= @form.fields.length + 1 %>;   
    
    $(window).resize(function() {  
      height = $(window).height() - 100;     
      form_height = height - 65
      $('#form_wrapper').height(height); 
      $('#form').height(form_height);
    });
  </script>
<% end -%>   
<div id="form_wrapper"> 
  <section class='form_oprate'>
    <nav >    
      <div class='new'>
      <%= pretty_button('新问题', '#', :onclick => 'form_add_field(this);',:id => 'add_question') %> 
      </div>
      <div class='setting'>       
      <%= pretty_button('通知设置',   '#', :onclick => "$('#notify_setting,#form_header,#fields,#add_question').toggle();",:id => 'notify') %>
      <%= pretty_button('保存',   '#', :onclick => "$('#form_submit').submit();$('#saving').show();") %>
      </div>
    </nav>
  </section>

  <section id="form">
    <% form_for(@form, :url => form_path(@form, :edit_key => @edit_key),:html => {:id => 'edit_form'}, :remote => true) do |f| %>
      <%= f.error_messages %>
      <div id="form_header">
         <%= render :partial => 'form', :object => f %>
      </div>
      <div style="display:none;" id="notify_setting">
        <p>
          <%= f.label :notify_type, '通知方式' %>
          <%= f.radio_button :notify_type, 'email' %>邮件通知
        </p>
        <p>
          <%= f.label :notify_email, '发送通知到此信箱' %>
          <%= f.text_field :notify_email %>
        </p>
      </div>
      <%=f.submit 'submit',:id => 'form_submit',:style => 'display:none;' %>
      <div id="field_positions" style="display:none"></div>
    <% end %>  

    <div id="fields">   
      <% @fields.sort {|f1, f2| f1.position <=> f2.position}.each do |field| %>
        <%= render :partial => '/fields/field', :object => field, :locals => {:parent => @form} %>
      <% end %>
    </div>

    <% ['string', 'text', 'radio', 'check', 'drop'].each do |input| %>
      <div id="<%= input %>_input" style="display:none">
        <%= render :partial => "/fields/#{input}_form", :locals => {:parent => @form, :field => nil} %>
      </div>
    <% end %>

    <div id="new_field" style="display:none;">
      <%= render :partial => "/fields/field", :locals => {:parent => @form, :field => @field} %>
    </div>
  </section>  

  <section class='form_preview'>
    <%= link_to '预览表单', form_path(@form), :target => '_blank' %>
  </section>
</div>