<% content_for :headers do -%>   
  <%= javascript_include_tag 'form' %>
  <%= javascript_include_tag 'field' %>
  <script type="text/javascript" charset="utf-8">
    var field_count = <%= @form.fields.count + 1 %>;
  </script>
<% end -%>

<%= link_to_function('新问题', 'form_add_field(this)') %>
<hr />
<% remote_form_for(@form, :url => form_path(@form, :edit_key => @edit_key)) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>
  
  <div id="field_positions" style="display:none"></div>
  <%= f.submit '更新表单' %>
<% end %>  

<div id="fields">
  <% @fields.each do |field| %>
    <%= render :partial => '/fields/field', :object => field, :locals => {:parent => @form} %>
  <% end %>
</div>

<% ['radio', 'check', 'drop'].each do |input| %>
  <div id="<%= input %>_input" style="display:none">
    <%= render :partial => "/fields/#{input}_form", :locals => {:parent => @form, :field => nil} %>
  </div>
<% end %>

<div id="new_field" style="display:none;">
  <%= render :partial => "/fields/field", :locals => {:parent => @form, :field => @field} %>
</div>

<hr />

<%= link_to '预览表单', form_path(@form), :target => '_blank' %>
