<% remote_form_for(@form, :url => form_path(@form, :edit_key => @edit_key)) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>
  <%= f.submit '更新表单' %>
  <%= link_to '预览表单', form_path(@form), :target => '_blank' %> |
  <%= link_to_remote('新问题', {:update => 'fields', 
                            :url => new_form_field_path(@form, :edit_key => @form.edit_key), 
                            :position => :bottom,
                            :method => 'get'}) %>
<% end %>

<div id="fields">
<% @form.fields.each do |field| %>
  <%= render :partial => '/forms/field', :object => field, :locals => {:parent => @form} %>
<% end %>
</div>
