<% remote_form_for(@form, :url => form_path(@form, :edit_key => @edit_key)) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>
  <%= f.submit '更新表单' %>
  <%= link_to '预览表单', form_path(@form), :target => '_blank' %> |
  <%= link_to_function '添加问题', '$("#form_container").toggle();$(".new_field").reset();$("#field_name").focus();' %>  <br />
<% end %>

<div id="fields">
<% @form.fields.each do |field| %>
  <%= render 'field', :object => field %>
<% end %>
</div>

<div id="form_container" style="display:none;">
  <%= render :partial => '/fields/form' %>
</div>
