<% content_for :headers do -%>   
  <%= javascript_include_tag 'form' %>
  <%= javascript_include_tag 'field' %>
  <%= javascript_include_tag 'jquery.scrollTo' %>
  <script type="text/javascript" charset="utf-8">
    // 100以下的留给保留字段
    var field_count = <%= @form.fields.length + 101 %>;   
  </script>
  <style type="text/css" media="screen">
    .container {width: 680px; margin:0px auto;padding:0px;}
    #content{padding:0px;}
  </style>
<% end -%>   
<div id="form_wrapper"> 
  <section class='form_oprate'>
    <nav>
      <div class='setting'>  
        <%= link_to '回应通知', '#', :onclick => '$("#notify_setting").dialog({width:390, height:200, title:"邮件通知设置"});', :class => 'button' %>
        <%= link_to '问卷嵌入', '#', :onclick => '$("#iframe").dialog({width:390, height:140, title:"问卷代码嵌入"});', :class => 'button' %>
        <%= link_to('保存',   '#', :onclick => "$('#form_submit').submit();$('#saving').show();",:class => 'button') %> 
      </div>
      <div class='new'>
        <%=link_to('新问题', '#', :onclick => 'form_add_field(this);',:class => 'button',:id => 'add_question') %> 
      </div>
    </nav>
  </section>
   
  <section id="form" >
    <%= render :partial => 'setting' %>  
    <!-- 表单项 --> 
    <div id="fields">   
      <% @fields.sort {|f1, f2| f1.position <=> f2.position}.each do |field| %>
        <%= render :partial => '/fields/field', :object => field, :locals => {:parent => @form, :row => @row} unless (field.inputable == false) %>
      <% end %>
    </div>

    <% ['string', 'text', 'radio', 'check', 'drop'].each do |input| %>
      <div id="<%= input %>_input" style="display:none">
        <%= render :partial => "/fields/#{input}_form", :locals => {:parent => @form, :field => nil, :row => @row} %>
      </div>
    <% end %>

    <div id="field_template" style="display:none;">
      <%= render :partial => "/fields/field", :locals => {:parent => @form, :field => @field, :row => @row} %>
    </div>
  </section>  
  <!-- 表单尾 -->
  <section class='form_preview right'>
    预览表单 <%= link_to "#{form_url(@form)}", form_path(@form), :target => '_blank' %>
  </section>
</div>

<div id="iframe" style="display:none;">
  <%= text_area_tag :iframe, "<iframe src='#{form_url(@form)}' width='700' height='500' frameborder='0' style='overflow:auto'></iframe>", :cols => 42, :rows => 5, :style => "width:350px; height:100px;", :onfocus => '$(this).focus();$(this).select();', :readonly => true %>
</div>
