<% content_for :headers do -%>   
  <%= javascript_include_tag 'form' %>
  <%= javascript_include_tag 'field' %>
  <%= javascript_include_tag 'jquery.scrollTo' %>
  <script type="text/javascript" charset="utf-8">
    // 100以下的留给保留字段
    var field_count = <%= @form.max_position + 1 %>;   
    if(field_count < 100) { field_count = 101; }
  </script>
<% end -%>   
<div id="form_wrapper"> 
  <section class='form_oprate'>
    <nav >    
      <div class='new'>
      <%=link_to('新问题', '#', :onclick => 'form_add_field(this);',:class => 'button',:id => 'add_question') %> 
      </div>
      <div class='setting'>     
      <%= link_to('保存',   '#', :onclick => "$('#form_submit').submit();$('#saving').show();",:class => 'button') %> 
      </div>
    </nav>
  </section>
   
  <section id="form" >
    <%= render :partial => 'setting' %>  
    <!-- 表单项 --> 
    <div id="fields">   
      <% @fields.sort {|f1, f2| f1.position <=> f2.position}.each do |field| %>
        <%= render :partial => '/fields/field', :object => field, :locals => {:parent => @form, :row => @row} unless (field.inputable == false) %>
      <% end %>
    </div>

    <% ['string', 'text', 'radio', 'check', 'drop'].each do |input| %>
      <div id="<%= input %>_input" style="display:none">
        <%= render :partial => "/fields/#{input}_form", :locals => {:parent => @form, :field => nil, :row => @row} %>
      </div>
    <% end %>

    <div id="field_template" style="display:none;">
      <%= render :partial => "/fields/field", :locals => {:parent => @form, :field => @field, :row => @row} %>
    </div>
  </section>  

</div>  
