<% content_for :headers do -%>   
  <%= javascript_include_tag 'form' %>
  <%= javascript_include_tag 'field' %>
  <script type="text/javascript" charset="utf-8">
    var field_count = <%= @form.fields.length + 1 %>;   
  </script>
<% end -%>

<%= link_to('新问题', '#', :onclick => 'form_add_field(this);', :remote => true) %>  |  
<%= link_to('保存',   '#', :onclick => "$('#form_submit').submit();", :remote => true) %>  

<div id="form">
  <% form_for(@form, :url => form_path(@form, :edit_key => @edit_key),:html => {:id => 'edit_form'}, :remote => true) do |f| %>
    <%= f.error_messages %>

    <%= render :partial => 'form', :object => f %>
    <%=f.submit 'submit',:id => 'form_submit',:style => 'display:none;' %>
    <div id="field_positions" style="display:none"></div>
  <% end %>  

  <div id="fields">   
    <% @fields.sort {|f1, f2| f1.position <=> f2.position}.each do |field| %>
      <%= render :partial => '/fields/field', :object => field, :locals => {:parent => @form} %>
    <% end %>
  </div>

  <% ['radio', 'check', 'drop'].each do |input| %>
    <div id="<%= input %>_input" style="display:none">
      <%= render :partial => "/fields/#{input}_form", :locals => {:parent => @form, :field => nil} %>
    </div>
  <% end %>

  <div id="new_field" style="display:none;">
    <%= render :partial => "/fields/field", :locals => {:parent => @form, :field => @field} %>
  </div>  
</div>  


<%= link_to '预览表单', form_path(@form), :target => '_blank' %>
