<% content_for :headers do -%>   
  <%= stylesheet_link_tag 'button' %>
  <%= javascript_include_tag 'form' %>
  <%= javascript_include_tag 'field' %>
  <%= javascript_include_tag 'jquery.scrollTo' %>
  <script type="text/javascript" charset="utf-8">
    var field_count = <%= @form.fields.length + 1 %>;   
    
    $(window).resize(function() {  
      height = $(window).height() - 100;     
      form_height = height - 65;
      $('#form_wrapper').height(height); 
      $('#form').height(form_height);
    }); 
  </script>
<% end -%>   
<div id="form_wrapper"> 
  <section class='form_oprate'>
    <nav >    
      <div class='new'>
      <%=link_to('新问题', '#', :onclick => 'form_add_field(this);',:class => 'button',:id => 'add_question') %> </button>
      </div>
      <div class='setting'>     
      <%= link_to('通知设置',   '#', :onclick => "$('#notify_setting').dialog();",:class => 'button',:id => 'notify') %>
      <%= link_to('保存',   '#', :onclick => "$('#form_height').val($('#form').height());$('#form_submit').submit();$('#saving').show();",:class => 'button') %> 
      </div>
    </nav>
  </section>
   
  <section id="form">  
    <%= render :partial => 'setting' %>  
    <!-- 表单项 --> 
    <div id="fields">   
      <% @fields.sort {|f1, f2| f1.position <=> f2.position}.each do |field| %>
        <%= render :partial => '/fields/field', :object => field, :locals => {:parent => @form} unless (field.inputable == false) %>
      <% end %>
    </div>

    <% ['string', 'text', 'radio', 'check', 'drop'].each do |input| %>
      <div id="<%= input %>_input" style="display:none">
        <%= render :partial => "/fields/#{input}_form", :locals => {:parent => @form, :field => nil} %>
      </div>
    <% end %>

    <div id="new_field" style="display:none;">
      <%= render :partial => "/fields/field", :locals => {:parent => @form, :field => @field} %>
    </div>
  </section>
  <!-- 表单尾 -->
  <section class='form_preview'>
    <%= link_to '预览表单', form_path(@form), :target => '_blank',:class => 'button' %>
  </section>
</div>