<section class='form_list'>
  <header>
    <h1>你的表单</h1>
  </header>
  <ul>
<% @forms.each do |form| %>
  <li><%= link_to form.title, form,:target => '_blank' %>
  (<%= link_to '查看结果', form_rows_path(form, :edit_key => form.edit_key) %> |
  <% if false %>
  <a href="#" onclick="window.open('<%=edit_form_path(form, :edit_key => form.edit_key)%>', 'StatusBar', 'toolbar=yes,resizable=yes,scrollbars=no,width=880,height=655,left=0,top=0');" title="tool tip">编辑</a> |
  <% end %>
  <%= link_to '编辑', edit_form_path(form, :edit_key => form.edit_key), :target => '_blank' %>
  <%= link_to '删除', form_path(form, :edit_key => form.edit_key), :confirm => 'Are you sure?', :method => 'delete' %>
  )</li>
<% end %>                  
  </ul>
</section>
  <p> 
    <a href="#" onclick="window.open('/forms/new', 'StatusBar', 'toolbar=yes,resizable=yes,scrollbars=no,width=680,height=700,left=0,top=0');" title="tool tip">New form</a>
  </p>
