<% content_for :headers do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){     
     $("td.title").hover(
       function(){$(this).find('.action').toggle()})
     })    
  </script>
<% end -%>


<div class='span-18'> 
  <% if @forms.empty? %>
    <p style="font-size:14px;">您还没有创建任何问卷，现在就<%= link_to '创建您的第一个问卷', '#', :onclick => "window.open('/forms/new', 'StatusBar', 'toolbar=yes,resizable=yes,scrollbars=no,width=820,height=700,left=0,top=0');" %>吧！</p>
  <% end %>
  <table class='grid big' border="0" cellspacing="0" cellpadding="0"> 
    <col width='60%'>
    <col width='15%'>
    <col width='25%'>
    <tbody> 
      <% @forms.each do |form| %> 
      <tr id="<%=form.id%>">        
        <td class='title'><%=link_to form.title,form_rows_path(form, :edit_key => form.edit_key) %><span><%= form.klass.count %>回应 <%= '>>' unless form.klass.count == 0%></span>
        </td>                                                                                 
        <td><%= form.updated_at.to_date%></td> 
        <td class='opt'> 
          <a href="#" onclick="window.open('<%=edit_form_path(form, :edit_key => form.edit_key)%>', '<%= form.id %>', 'toolbar=yes,resizable=yes,scrollbars=no,width=820,height=800,left=0,top=0');" title="new form" class='ag' >编辑问卷</a> 
          <%= link_to '预览', form_path(form), :class => 'ag', :target => '_blank' %>
          <%= link_to '删除', form_path(form, :edit_key => form.edit_key), :confirm => '你确定删除此问卷嘛?', :method => 'delete',:class => 'ag' %>
        </td>
      </tr>
      <% end %>       
    </tbody>
    </table>
</div>

<div class='span-6 last sidebar'>
  <a class='btn create' href="#"  onclick="window.open('/forms/new', 'StatusBar', 'toolbar=yes,resizable=yes,scrollbars=no,width=820,height=700,left=0,top=0');" title="new form"  >创建问卷</a>
  <div class='box'>
    <h4 class='tip'>操作提示</h4>
    <p>操作问卷后查看更新请刷新后此页.<br />
       有任何意见或建议,请在<%=link_to '这里填写','http://www.51qiangda.com/forms/4c0608cab3e57c5758000001'%>
    </p>
  </div>
  <div class='box'>
    抢答所有的服务都是免费的,如果您觉的抢答对您有所帮助,请告诉你的朋友,帮助推广抢答!
    <ul class='share'>  
      <li><a href="http://v.t.sina.com.cn/share/share.php?c=spr_web_bd_youku_weibo&url=http://www.51qiangda.com&title=抢答网-问卷调查,就用抢答!&source=抢答网&sourceUrl=http://51qiangda.com&content=抢答网,一款简单好用的问卷调查工具,我用过,觉得很好，推荐下!" class='sprite-sina sprite' target ='_blank'>新浪微博</a></li> 
      <li><a href="http://share.renren.com/share/buttonshare.do?link=http://www.51qiangda.com&title=抢答网,一款简单好用的问卷调查工具,我用过,觉得很好，推荐下!" class='sprite-renren sprite' target ='_blank'>人人网</a></li>
      <li><a href="http://www.douban.com/recommend/?url=http://www.51qiangda.com&title=抢答网,一款简单好用的问卷调查工具,我用过,觉得很好，推荐下!" class='sprite-douban sprite' target ='_blank'>豆瓣网</a></li>
      <li><a href="http://www.kaixin001.com/repaste/share.php?rurl=http://www.51qiangda.com&rcontent=抢答网,一款简单好用的问卷调查工具,我用过,觉得很好，推荐下!&rtitle=抢答网,一款简单好用的问卷调查工具" class='sprite-kaixing001 sprite' target ='_blank'>开心网</a></li>
      <li><a href="http://t.sohu.com/third/post.jsp?url=http://www.51qiangda.com&title=<%= CGI.escape(Iconv.iconv('gbk', 'utf-8','http://www.51qiangda.com').join) %>" class='sprite-sohu sprite'>搜狐微博</a></li>
      <li><a href="http://t.163.com/article/user/checkLogin.do?link=http://www.51qiangda.com&source=抢座网&info=http://www.51qiangda.com" class='sprite-163 sprite'>网易微博</a></li>
    </ul>
  </div> 
</div>    

  
<%= content_for :pagenav do -%>  
<div id="page_nav">
   <span>所有问卷</span> 
</div>
<% end %>

