<h1>All forms</h1>

<% @forms.each do |form| %>
  <%= link_to form.title, form %></td>
  (<%= link_to 'Show', form_rows_path(form) %> |
   <%= link_to 'Edit', edit_form_path(form) %> |
   <%= link_to 'Destroy', form, :confirm => 'Are you sure?', :method => :delete %>
  )
<% end %>

<p>
  <%= link_to 'New form', new_form_path %>
</p>