<% content_for :headers do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){     
     $("td.title").hover(
       function(){$(this).find('.action').toggle()})
     })    
  </script>
<% end -%>


<div class='span-18'> 
  <% if @forms.empty? %>
    <p style="font-size:14px;"><%= t(:no_survey) %><%= link_to t(:create_first_survey), '#', :onclick => "window.open('/forms/new', 'StatusBar', 'toolbar=yes,resizable=yes,scrollbars=no,width=820,height=700,left=0,top=0');" %></p>
  <% end %>
  <table class='grid big' border="0" cellspacing="0" cellpadding="0"> 
    <col width='60%'>
    <col width='15%'>
    <col width='25%'>
    <tbody> 
      <% @forms.each do |form| %> 
      <tr id="<%=form.id%>">        
        <td class='title'><%=link_to form.title,form_rows_path(form, :edit_key => form.edit_key) %><span><%= form.klass.count %> <%= t(:answers) %> <%= '>>' unless form.klass.count == 0%></span>
        </td>                                                                                 
        <td><%= form.updated_at.to_date%></td> 
        <td class='opt'> 
          <a href="#" onclick="window.open('<%=edit_form_path(form, :edit_key => form.edit_key)%>', '<%= form.id %>', 'toolbar=yes,resizable=yes,scrollbars=no,width=820,height=800,left=0,top=0');" title="new form" class='ag' ><%= t(:edit) %></a> 
          <%= link_to t(:preview), form_path(form), :class => 'ag', :target => '_blank' %>
          <%= link_to t(:delete), form_path(form, :edit_key => form.edit_key), :confirm => '你确定删除此问卷嘛?', :method => 'delete',:class => 'ag' %>
        </td>
      </tr>
      <% end %>       
    </tbody>
    </table>
</div>

<div class='span-6 last sidebar'>
  <a class='btn' href="#"  onclick="window.open('/forms/new', 'StatusBar', 'toolbar=yes,resizable=yes,scrollbars=no,width=820,height=700,left=0,top=0');" title="new form"  ><%=t(:create_form)%></a>
  <div class='box'>
    <h4 class='tip'><%= t(:tips) %></h4>
    <p><%= t(:refresh_tips) %><br />
       <%= t(:provide_feedbacks) %><%=link_to t(:fill_this_form), 'http://www.51qiangda.com/forms/4c0608cab3e57c5758000001'%>
    </p>
  </div>
</div>    

  
<%= content_for :pagenav do -%>  
<div id="page_nav">
   <span><%= t(:my_surveys) %></span> 
</div>
<% end %>