<% content_for :headers do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){     
     $("td.title").hover(
       function(){$(this).find('.action').toggle()})
     })    
  </script>
<% end -%>     
 <div class='grid_18'>
 <table class='grid' border="0" cellspacing="0" cellpadding="0"> 
  <thead>
    <tr> 
      <th>名称</th>
      <th>最后更新</th>
      <th>操作</th>
    </tr> 
  </thead>
  <tbody> 
    <% @forms.each do |form| %> 
    <tr id="<%=form.id%>">        
      <td class='title'><%=link_to form.title,form_rows_path(form, :edit_key => form.edit_key) %><span>[<%= form.klass.count %>回应]</span>
      </td>                                                                                 
      <td><%= form.updated_at.to_date%></td> 
      <td class='opt'> 
        <a href="#" onclick="window.open('<%=edit_form_path(form, :edit_key => form.edit_key)%>', '<%= form.id %>', 'toolbar=yes,resizable=yes,scrollbars=no,width=820,height=700,left=0,top=0');" title="new form" class='ag' >编辑表单</a> 
        <%= link_to '预览', form_path(form), :class => 'ag' %>
        <%= link_to '删除', form_path(form, :edit_key => form.edit_key), :confirm => '你确定删除此问卷嘛?', :method => 'delete',:class => 'ag' %>
      </td>
    <% end %>       
  </tbody>
  </table>
  <%=raw will_paginate @forms,:class => 'flickr_pagination',:previous_label => '前翻',:next_label => '后翻' %>        
 </div>     
  <div class='grid_6'>
        <a href="#" onclick="window.open('/forms/new', 'StatusBar', 'toolbar=yes,resizable=yes,scrollbars=no,width=820,height=700,left=0,top=0');" title="new form" class='button' >新建表单</a>  
  </div>
  
<%= content_for :pagenav do -%>  
<div id="page_nav">
   <span>所有问卷</span> 
</div>
<% end %>
