<% unless @form.klass.all(:order_id => params[:order_id].to_i).blank? %>
订单已完成 
<% else %>
<% unless params[:embed] -%>
<header>
    <h1><%=h @form.title %></h1>   
    <div class='desc'>
      <%=raw(simple_format(@form.description)) %>
    </div>
</header>
<% end -%>   
<%= @form.notify_url %>      
<% form_tag form_rows_path(@form),:class => 'conforge' do %>    
  <% @form.fields.sort {|f1, f2| f1.position <=> f2.position}.each do |field| %> 
    <%= render :partial => '/forms/field', :object => field, :locals => {:parent => @form} unless (field.inputable == false)%>   
    <%= hidden_field_tag :embed,params[:embed] %>
    <%= hidden_field_tag 'row[order_id]',params[:order_id]%>
  <% end %>
<p>
  <%= submit_tag '提交',:class => 'submit' %>
</p>     
<% end %>   

<% end %>