<% if @form.end_at.blank? || @form.end_at > Date.today %>
  <div id='errors' class='error'></div>        
  <%= form_tag form_rows_path(@form), :remote => true do %>    
    
    <% @fields.each do |field| %>
      <%= render :partial => '/forms/field', :object => field, :locals => {:parent => @form, :row => @row} unless (field.inputable == false)%>   
    <% end %>
            
    <%= hidden_field_tag 'page', @page %>
    <p>
    <% if @form.total_page == 1 || @page == @form.total_page %>  
      <%= submit_tag t(:submit), :class => 'submit', :onclick => "remote_action(this);" %>
    <% else %>
      <%= submit_tag t(:next), :class => 'submit', :onclick => "remote_action(this);" %>  
    <% end %>
    <%=image_tag('ajax-loader.gif',:id => 'spinner')%></p>  
  <% end %>
<% else %>
  <%= t(:survey_closed) %>
<% end %>

