<h2>
  <%=h @form.title %>
</h2>

<p>
  <%=h @form.description %>
</p>

<% form_tag form_rows_path(@form),:class => 'formtastic' do %>
<%= @row.errors.full_messages %>
<% @form.fields.each do |field| %>
  <%= render '/forms/field', :object => field %>
<% end %>
<p>
  <%= submit_tag '提交' %>
</p>
<% end %>