<% content_for :headers do -%>
  <script type="text/javascript" charset="utf-8"> 
 document.domain = "<%= RAILS_ENV == 'development' ? 'localhost' : '51qiangzuo.com' %>"   
      
  function remote_action(e){
    $('#spinner').show();
  }     
  </script>
<% end -%>
<% unless @form.klass.all(:order_id => params[:order_id].to_i).blank? %>
  订单已完成 
<% else %>
<% unless params[:embed] -%>
  
<header>
    <h1><%=h @form.title %></h1>   
    <div class='desc'>
      <%=raw(simple_format(@form.description)) %>
    </div>
</header>
<% end -%>                    
<div id='errors' class='error'></div>        
  <%= form_tag form_rows_path(@form),:class => 'conforge',:remote => true do %>    
    <% @form.fields.sort {|f1, f2| f1.position <=> f2.position}.each do |field| %> 
      <%= render :partial => '/forms/field', :object => field, :locals => {:parent => @form} unless (field.inputable == false)%>   
    <% end %>         
    <%= hidden_field_tag :embed, @embed %>
    <%= hidden_field_tag 'row[order_id]', @order_id%>
    <p><%= submit_tag '提交',:class => 'submit',:onclick => "remote_action(this);" %><%=image_tag('ajax-loader.gif',:id => 'spinner')%></p>  
   <% end %>
<% end %> 
