<div class='section_nav'>
  <div class='section_title'>
    <%= link_to t(:my_surveys), forms_path %> \ <%= @form.title %> (<%=@form.klass.count %>)
  </div>
  <div class='span-18' id='results'>  
    <section class="span-15 prepend-top last">   
      <h4><%= t(:visits) %></h4>
      <img src="<%= Gchart.line(:axis_with_labels => 'x,y',
                  :axis_labels => @axis_labels, 
                  :title => "#{t(:total)}: #{Visit.count(:created_at.gt => 1.month.ago.utc, :form_id => @form.id)}",
                  :data => @data,
                  :bg => 'FDFDFD',
                  :width => 700,
                  :height => 200) %>" />
    </section>
              
    <div style="clear:both;"></div>
    <section class="span-9 prepend-top left">
      <h4><%= t(:referrer) %></h4>
      <%= render :partial => '/shared/referrers', :locals => {:referrers => @referrers} %>
    </section>

    <section class="span-9 prepend-top last">
      <h4><%= t(:location) %></h4>
      <%= render :partial => '/shared/cities', :locals => {:cities => @cities} %>
    </section>
  </div>
</div>

<% content_for :sidebar do %>  
  <%= render :partial => '/rows/answer_sidebar' %> 
<% end %>