<style type="text/css" media="screen">   
  #huizong{width:100%;}
</style>        
<div class='thanks'>                 
  <p>
    <% if @form.thanks_message.blank? %>
      <%= t(:default_thanks_message) %>
    <% else %>
      <%=simple_format @form.thanks_message %>
    <% end %>
  </p>
</div>
  <% if @form.publish_response %>
    <h2><%=@form.rows_count%>个回应</h2> 
          <%= render :partial => 'chart',:collection => @form.fields,:as => :field,:locals => {:count => false} %>  

  <% end %>
  <p style='text-align:center;'><%=link_to t(:back_to_survey),form_path(@form),:class => 'ag'%> | <%=link_to t(:create_survey),forms_path,:class => 'ag'%></p> 
</div>       

<p class='support'><%= raw t(:powered_by) %></p>
  <div style="clear:both;">
</div>
 
 


