<div class='field edit' onmouseover="toggel_opration(this);" onmouseout="toggel_opration(this);">
  <div class="question" id="question<%= field.id %>">     
    <div class='opration' style='display:none;'>
      <%= link_to_function('编辑', "field_start_editing(this);")
                              %> |
      <%= link_to_remote('删除', {:update => 'flash', 
                              :url => form_field_path(parent, field, :edit_key => parent.edit_key), 
                              :after => "$(this).closest('.field').highlight(); $(this).closest('.field').fade();field_count -= 1",
                              :method => 'delete',
                              :confirm => '你确定嘛'}) %>
    </div>
    <%= label_tag field.id,field.name, :class => 'q_title' %> <%= render_required(field) %>
    <div class="input">
      <%= render :partial => "/forms/#{field.input}_field", :locals => {:field => field} %>
      <br />
      <span class='prompt'><%=h field.prompt %></span>    
    </div>


  </div>
  <div class="form edit" style="display:none;">
    <%= render :partial => '/fields/form', :locals => {:parent => parent, :field => field} %>
  </div>
</div>
