<!doctype html>      
<html lang="zh">
<head>
  <%= render :partial => '/shared/head' %>
</head>
<body>
	<div class="container clearfix">   
	   <%= render :partial => '/shared/header' %>
      <%=yield :pagenav %>
	    <%= yield %>
	    <%= render :partial => '/shared/footer' unless controller.class == FormsController && action_name == 'edit' %>  
  </div>
</body>
</html>
