<!doctype html>      
<html lang="zh">
<head>
  <%= render :partial => '/shared/head' %>
</head>
<body>     
  <%= render :partial => '/shared/header' %>  
	<div class="container">   
      <div class='span-5 sidebar'>
	       <%= yield :sidebar %>
	    </div>
      <div class='span-19 content last'>
         <%= yield %> 
      </div>
      <%= render :partial => '/shared/footer' unless controller.class == FormsController && action_name == 'edit' %>   
  </div>    
</body>
</html>
