<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="zh">
<head>
  <%= render :partial => '/shared/head' %>
</head>

<body>
 <%= render :partial => '/shared/header' %> 
      
	<div class="container clearfix"> 
	  <%= yield :notes %>
    <%= yield %>
  </div>
  <%= render :partial => '/shared/footer' unless controller.class == FormsController && action_name == 'edit' %>
</body>
</html>
