<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>  
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />
  
  <%= stylesheet_link_tag 'custom', "formtastic","formtastic_changes",  :cache => 'embed.cache' %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'rails', 'application', 
          :cache => 'embed.cache' %>
  
  <%= yield :headers %>                                                   
  <title>Frontend</title>
</head>

<body style="background:#FFF;">
  <div id="saving" style="display:none;">正在保存...</div>    
  <%= yield %>
</body>
</html>
