<!doctype html>      
<html lang="zh">
<head>
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="description" content="<%= @form.nil? ?  "抢答网让您可以轻松创建在线表单，调查问卷，收集用户反馈，类似Google Form的操作界面，让表单的创建如行云流水，简洁干净的问卷页面，让用户爱上问答!" : @form.description %>" />
  <meta name='viewport' content='width=device-width' />
  <meta charset="utf-8" />
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />
  <!--[if IE]>
   <script src="/javascripts/html5.js"></script>
  <![endif]-->                   
  <%= stylesheet_link_tag 'framework/reset','framework/general','framework/grid', :cache => 'simple.framework.cache'  %>  
  <%= stylesheet_link_tag "simple",'common',"jquery-ui", :cache => 'simple.cache'  %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'rails', 'application', :cache => 'simple.cache' %>  


  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){     
      $('.button').button();
     })    
  </script>

  <%= yield :headers %>                                                   
  <title>抢答网－<%= @form.nil? ? (@page_title||'新一代问卷系统，让您的表单与众不同') : @form.title %></title>
</head>

<body>   
  <div class='header'>
    <div class="logo">
      <%=image_tag('mini_logo.png') %>
    </div>         
    <div class='login'>
      <% if logged_in? %>	
        你好 <%=current_user.login %> <%= link_to '注销', logout_path, :method => 'delete' %>
      <% else %>
        <%= link_to '立即登录', login_path %> |
        还没有帐号？ <%= link_to '现在就注册', signup_path %>
      <% end %>
    </div>  
    <div id="saving" style="display:none;">正在保存...</div> 
    <%= render :partial => '/shared/notice' %>
  </div>
  
  <div class="container">
    <%= yield %>        
  </div>  

  <div style="clear:both;"></div>
</body>
</html>
