<!DOCTYPE html PUBLIC "-//W3C//DTD Xhtml 1.0 strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <%= stylesheet_link_tag "style",'custom'  %>
  <%= stylesheet_link_tag "formtastic","formtastic_changes" %>                  
  <script src="/javascripts/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/jquery-ui.js" type="text/javascript"></script>
  <script src="/javascripts/jrails.js" type="text/javascript"></script>   
  <script src="/javascripts/jquery.scroll-to.js" type="text/javascript"></script>      
  <script src="/javascripts/application.js" type="text/javascript"></script> 
  <%= yield :headers %>   
  <title>Frontend</title>
</head>

<body>
  <div id="main_container">    
    <div class="content">
      <div id="main_content">
        <div id="flash"><%= flash_div %></div>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
