<%= content_for :pagenav do -%> 
<div id="page_nav">
    <span><%=link_to '所有问卷',forms_path%> / <%=link_to @form.title,form_rows_path(@form, :edit_key => @form.edit_key) %> / 编辑</span>    
    <div class='right'>
    </div>     
</div>     
<div class='span-24'>  
  <%=link_to '<< 返回查看回应页',form_rows_path(@form, :edit_key => @form.edit_key),:class => 'ag'%>
</div>
<% end %>

<div class='prepend-6' >
<%= form_for [@form, @row], :url => form_row_path(@form, @row), :remote => true do |f| %>
  <% @form.fields.sort {|f1, f2| f1.position <=> f2.position}.each do |field| %> 
    <%= render :partial => '/forms/field', :object => field, :locals => {:parent => @form, :row => @row} unless (field.inputable == false)%>   
  <% end %>
     <%= f.submit "更新",:class => 'submit', :onclick => "remote_action(this);" %> <%= image_tag('ajax-loader.gif',:id => 'spinner') %> 
    <% end %>
 </div>


