<%= pagenav_area do -%>
  <span><%=link_to '所有问卷',forms_path%> / <%=link_to @form.title, form_rows_path(@form, :edit_key => @form.edit_key) %> / 编辑记录  </span>
<% end -%>

<%= form_for [@form, @row], :url => form_row_path(@form, @row) do |f| %>
  <% @form.fields.each do |field| %>
    <div class='fields'>
      <%= f.label field.id, field.name %>
      <%= f.text_field "f#{field.id}" %>
    </div>
  <% end %>
  <%= f.submit "更新" %>
<% end %>