<%= content_for :sidebar do %>
  <p>
    <a href="<%=edit_form_path(@form, :edit_key => @form.edit_key)%>" target="_blank" title="new form" class='button' >编辑表单</a>
  <p>
  <p><%=link_to '查看表单',form_path(@form),:target => '_blank', :class => 'button' %></p>
  <p><%=link_to '导出CSV',form_rows_path(@form, :format => :csv, :edit_key => @form.edit_key),:target => '_blank', :class => 'button' %></p>
  <p><%=link_to '导出XLS',form_rows_path(@form, :format => :xls, :edit_key => @form.edit_key),:target => '_blank', :class => 'button' %></p>
<% end %>

<%= pagenav_area do -%>
  <span><%=link_to '所有问卷',forms_path%> / <%=h @form.title %>  </span>
<% end -%>   
<div class="info_grid">
<table class='grid' id='info_grid' cellspacing="0" cellpadding="0">
  <thead>
    <tr>  
      <% @form.fields.each do |field| %>                         
      <th><%= field.name %></th>           
      <% end %> 
      <th>时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>  
  <% @rows.each do |row| -%>
  <tr>           
    <% @form.fields.each do |field| %>              
    <td class="<%='name' if field.name == '姓名' %>"><div class='info_item'><%= row.send('f' + field.id) %></div></td>
    <% end -%>
    <td><div class='info_item'><%= row.created_at.to_time.to_formatted_s(:datetime_military) %></div></td> 
    <td class='opt'>
      <div class='info_item'><%= link_to '编辑', edit_form_row_path(@form, row, :edit_key => @form.edit_key), :class => 'ag' %> <%= link_to '删除', '#', :class => 'ag' %></div>
    </td>
  </tr>      
  <% end -%>
  </tbody>
</table>   
</div>