<h1><%= @form.title %></h1>

<table id="rows"></table>
<div id="pager"></div> 

<script type="text/javascript" charset="utf-8">
  jQuery("#rows").jqGrid({
    url:'?format=json&edit_key=<%= @form.edit_key %>', 
    datatype: "json", 
    colNames:[
      'ID',
      <% @form.fields.each do |field| %>
        '<%= field.name %>',
      <% end %>],
    colModel:[
      {name:'id',index:'id', width:55}, 
      <% @form.fields.each do |field| %>
        {name:'f<%= field.id %>',index:'f<%= field.id %>', width:120}, 
      <% end %>
    ], 
    rowNum: <%= @rows.size %>, 
    rowList:[100], 
    pager: '#pager', 
    sortname: 'id', 
    viewrecords: true, 
    sortorder: "desc", 
    caption:"<%= @form.title %>" 
  }); 
    
  jQuery("#list2").jqGrid('navGrid','#pager',{edit:false,add:false,del:false}); 
</script>