<%= content_for :pagenav do -%> 
<div id="page_nav">
    <span><%=link_to '所有问卷',forms_path%> / <%= @form.title %>  </span>  
</div>
  <div class='notes right'>
    <%=link_to '查看表单',form_path(@form),:target => '_blank',:class => 'button' %>
    <a href="#" onclick="window.open('<%=edit_form_path(@form, :edit_key => @form.edit_key)%>', '<%= @form.id %>', 'toolbar=yes,resizable=yes,scrollbars=no,width=820,height=700,left=0,top=0');" title="编辑" class='button' >编辑表单</a>
     <%=link_to '导出CSV',form_rows_path(@form, :format => :csv, :edit_key => @form.edit_key),:target => '_blank',:class => 'button' %>
    <%=link_to '导出XLS',form_rows_path(@form, :format => :xls, :edit_key => @form.edit_key),:target => '_blank',:class => 'button' %>
  </div>
<% end %>

<div id="row" class="row">
  <%= render :partial => 'row', :object => @rows[0] %>
</div>

<div class="info_grid">
<table class='grid' id='info_grid' cellspacing="0" cellpadding="0">
  <thead>
    <tr>  
      <% if @form.fields[0] %>                         
      <th><%= @form.fields[0].name %></th>
      <% end %>
      <th>时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>  
  <% @rows.each do |row| -%>
  <tr>           
    <% if @form.fields[0] %>              
    <td class="<%='name' if @form.fields[0].name == '姓名' %>" onclick="fetch_row('<%= @form.id %>', '<%= row.id %>', '<%= @form.edit_key %>');"><div class='info_item'><%= row.send('f' + @form.fields[0].id) %></div></td>
    <% end -%>
    <td onclick="fetch_row('<%= @form.id %>', '<%= row.id %>', '<%= @form.edit_key %>');"><div class='info_item'><%= row.created_at.to_time.to_formatted_s(:datetime_military) %></div></td> 
    <td class='opt'>
        <%= link_to '编辑', '#', :onclick => "edit_row('#{@form.id}', '#{row.id}', '#{@form.edit_key}')", :class => 'ag' %> <%= link_to '删除', form_row_path(@form, row, :edit_key => @form.edit_key), :confirm => '你确定删除此记录嘛?', :method => 'delete', :class => 'ag' %>
    </td>
  </tr>      
  <% end -%>
  </tbody>
</table> 
<%=raw will_paginate @rows,:class => 'flickr_pagination',:previous_label => '前翻',:next_label => '后翻' %>   
</div>

<div id="spinner" style="display:none;">
  <%= image_tag(image_path('ajax-loader.gif')) %>
</div>